// * { border: 1px solid black; }


html{
	font-family: "Tahoma";
	color: rgb(64,64,64);
	height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: rgb(128,128,128);
}

body{
	font-size: 16px;
	height: 100%;
    padding: 0px;
    margin: 0px;
	display:block;
	overflow:auto;
}

dt{
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.25em;
}

dd{
	margin-left: 1em;
	-webkit-margin-start: 1em;
}

#website-title{
	max-width: 720px;
	
	font-family: arial;
	font-weight: bold;
	font-size: 3em;
	
	padding: 0.25em;
	margin: auto;
	
	color: rgb(192,192,192);
	background-color: rgb(64,64,64);
}


#content{
	min-height: 100%;
	max-width: 720px;
	margin: auto;
	padding: 10px;
	
	background-color: rgb(224,224,224);
}

h1{
	margin: 0;
	padding: 0.25em;
	background-color: rgb(192,192,192);
}

h2{
	margin: 0;
	padding: 0.25em;
	background-color: rgb(192,192,192);
}

h3{
	margin: 0;
	padding: 0.25em;
	background-color: rgb(224,224,224);
}

pre.code{
	font-size: 0.75em;
	font-family: "Lucida Console", Monaco, monospace;
	-moz-tab-size: 4;
	tab-size: 4;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 16px;
}

img.cat_icon{
	height: 1em;
	opacity: 0.75;
}

img.large_img{
	width: 100%;
}

div.subsection{
	margin-top: 0;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 0.5em;
	background-color: rgb(240,240,240);
}

.project_main_video{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25;
	margin: 0px;
	height: 0;
	max-height: 100px;
}

.project_main_video iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.img_details{
	width: 100%;
	margin: auto;
	margin-bottom: 3em;
	padding: 0px;
	font-style: italic;
	text-align: center;
}


@media only screen and (max-width: 600px) {
	body{
		font-size: 0.75em;
	}
	.img_details{
		margin-bottom: 1em;
	}
}
