/* 
FAQ Style Sheet for raubana.github.io.
Made by Dylan J. Raub (raubana)
Last Updated: 2022-9-10
*/


.faq_q {
	padding-right: 2em;
	
	margin: 0.0em;
	
	font-weight: bold;
}

.faq_a{
	padding-left: 1em;
	
	margin: 0.0em;
}